@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  font-size: 16px;
  color: #333;
}

body {
 
  height: 100vh;
  padding: 0;
  border: 0;
  background: linear-gradient(to bottom right,  #2E3234, );
}

.back {
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;

}



.form {
  position: absolute;
  background-color: #fff;
  height: 335px;
  width: 400px;
  border-radius: 20px;
  display: block;
  border: solid 1px #289df6;
  box-shadow: 0 0 40px 0 #ddd;
  margin-bottom:2px;
  margin-top: 125px;
  margin-left:28px;
}

.form:hover {
  box-shadow: 0 0 60px 0 #ccc;
  transition: .4s;
  transform: scale(1.02);
}

.row-one {
  padding: 20px;
}


label {
 
  margin-left: 20px;
}
.text-input1 {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  background-color: #dbeffe;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 30px; 
}

.text-input2 {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  background-color: #dbeffe;
  border: none;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 30px; 
}

.text-input:last-child {
  margin-bottom: 5px;
}

.text-input:hover {
  background-color: #cbe7fd;
}

input[type=submit], button{
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  background-color: #289df6;
  color: #fff;
  margin-left: 53px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  margin-top:10px;
}

input[type=submit]:hover, button:hover{
  background: #cbe7fd;
    border: 1px;
    color: white;
}

.row-one {
  padding: 30px 10px 15px 20px;
}

h1 {

 position: absolute;
 margin-top: 60px;
  margin-bottom: 5px;
  margin-left:90px;
  padding: 15px;
}

h1 b {
 
  font-size: 20px;
  color: #37a000;
}

h2 {

  position: absolute;
  margin-top: 60px;
   margin-bottom: 5px;
   margin-left:750px;
   padding: 15px;
  
}
h2 b {


  font-size: 20px;
  color: #37a000;}


