@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  font-size: 16px;
  color: #333;
  
}
table {
  width:  100%;
  border-collapse: collapse;
  text-align: center;
  
}
td {
  border: 1px solid black;
}
.scrollingTable {
  width: 52em;
  overflow-y: auto;
}

.wrapper {
position: absolute;
margin-top: 109px;
margin-left: 470px;
}